@import "tailwindcss";

body {
  margin: 0%;
  padding: 0%;
}

:root {
  --font-family-poppins: var(--font-poppins), sans-serif;
  --font-family-jakarta: var(--font-plus-jakarta), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-poppins);
}